<mat-card class="mat-elevation-z4">

    <div class="register-form">

        <form [formGroup]="form" novalidate>

            <div class="form-group">
                <label>Aplicacao* </label>
                <input type="text" formControlName="codigoAplicacao" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.codigoAplicacao.errors }" />
                <div *ngIf="form.controls.codigoAplicacao.errors?.required" class="invalid-feedback">
                    <div *ngIf="form.controls.codigoAplicacao.errors?.required">O preenchimento do campo "Aplicacao" é obrigatório</div>
                </div>
            </div>

            <div class="form-group">
                <label>Codigo* </label>
                <input type="text" formControlName="codigoDescricaoRetorno" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.codigoDescricaoRetorno.errors}" />
                <div *ngIf="form.controls.codigoDescricaoRetorno.errors?.required" class="invalid-feedback">
                </div>
            </div>

            <div class="form-group">
                <label>Nome Retorno* </label>
                <input type="text" formControlName="nomeDescricaoRetorno" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.nomeDescricaoRetorno.errors }" />
                <div *ngIf="form.controls.nomeDescricaoRetorno.errors?.required" class="invalid-feedback">
                </div>
            </div>

            <div class="form-group">
                <label>Texto Retorno </label>
                <input type="text-area" formControlName="mensagemDescricaoRetorno" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls.mensagemDescricaoRetorno.errors }" />
            </div>

            <div class="form-group">

                <button type="submit" (click)="deleteAplicacao()" class="btn btn-outline-danger mr-2">Deletar</button>
                <button type="button" (click)="mudarTela()" class="btn btn-outline-info mr-2"> Cancelar</button>
            </div>

        </form>

    </div>

</mat-card>